
<!--
<article class="article">
</article>
<div id="fondoimagennuevaversion">
<div class="row" >
  <div class="row">
    <div class="col-sm-2 col-sm-2 col-md-2 col-lg-2">
      <a href="/admin" role="button" class="btn btn-light"><img src="/img/game.png" width="65%"></a>
    </div>
    <div class="col-sm-10 col-sm-10 col-md-10 col-lg-10">
    </div>
  </div>
  <div class="row">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-10 col-md-10 col-lg-10">
    </div>
    <div class="col-sm-2 col-sm-2 col-md-2 col-lg-2">
      <a href="/jugar" role="button" class="btn btn-light"><img src="https://gameflip.com/img/app/icon_category_orange_games.png" width="65%"></a>
    </div>
  </div>
  <div class="row">
    <br><br><br><br><br><br> </div>
  </div>
</div>
-->
<!--
  <article class="article">
    <h1>BIENVENIDO</h1>

  </article>
  <div class="form">

    <div class="forceColor"></div>
    
    <a href="/jugar"><button class="submit" >Jugar</button></a><br>
    <a href="/admin"><button class="submit" >Admin</button></a>
  </div>-->
  

    <div>
        <div>
            <div>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(./img/fondoprincipalnuevo.png);">
                        <div class="mbr-table-cell">
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div class="izq">
  <a href="/admin" class="admin"><i class="fa fa-lock fa-1x"></i></a> 
</div>
<div class="dere-abajo">
  <a href="/jugar" class="jugar"><i class="fas fa-gamepad fa-3x"></i></a> 
</div>