<!--<h1>Bienvenido</h1>

<a href="/jugar">Jugar</a>
<br>
<a href="/admin">Admin</a>-->


    <article class="article">
    <h1>BIENVENIDO</h1>

  </article>
  <div class="form">

    <div class="forceColor"></div>
    
    <a href="/jugar"><button class="submit" >Jugar</button></a><br>
    <a href="/admin"><button class="submit" >Admin</button></a>
  </div>
