    
      <div class="imagen">
      <div class="hero-centro2 ">
         <!--<h2>ELIJA EL USUARIO</h2> -->
          <div id="tablaUsuarioExcursiones" >
            {{#each usuarios}}
            <div class="responsive gallery2">
              <a href="/excursiones_usuario/{{id}}">
                <button class="btnExcursionActividad" type="button">
                  <img class="portadaExcursionJuego" src="{{foto}}" alt="">
                  <div>{{nombre}}</div>
                  <div>Puntos: {{puntos}}</div>
                </button>
              </a>
            </div>
            {{/each}}
      </div>
      </div>   

    </div>


    <div>
        <div>
            <div>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(./img/excursion_capitulo.png);">
                        <div class="mbr-table-cell">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<div class="dere-arriba">
  <a href="/" class="jugar"><i class="fas fa-arrow-left fa-3x"></i></a> 
  <a href="#" class="jugar" role="button" id='play' onclick="audio()"><i class="fas fa-music fa-3x"><audio src="../audio/instruccion_personaje.mp3" autoplay id="audioPlayer"></audio></i></a>
        
</div>

  <audio src="/audio/instruccion_personaje.mp3" autoplay id="audioPlayer"></audio>

  <script>
      //funcion audio
       function audio() {
           var audio = document.getElementById("audioPlayer");
            var button = document.getElementById("play");
    
          audio.play();
        
       }
    </script>